body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.dashboard {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.performance-dashboard-container {
  padding-left: 0;
  padding-right: 0;
}

.performance-dashboard-box {
  margin: 16px 0;
  padding: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

