.sedes-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 100%;
}

.form-container {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.sede-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sede-form .form-group {
    flex: 1;
    min-width: 200px;
}

.sede-form input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    background: #ef8120;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sedes-list {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sedes-list th, .sedes-list td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.sedes-list th {
    background: #f4f4f4;
}

.sede-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.eye{
    background: #08b937;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.delete {
    background: #dc3545;
}

.search-container {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container input {
    border: none;
    padding: 8px;
    flex: 1;
}

.search-icon {
    margin-right: 8px;
    color: #888;
}
  